.intranet-container {
  background-color: $form-background-color;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: $box-shadow;
  max-width: 600px;
  width: 100%;
  text-align: center;

  h2 {
    margin-bottom: 1.5rem;
    color: $text-color;
  }

  .links {
    margin-top: 1.5rem;
  }
}